*{
    margin: 0px;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}
body{
    background-color: black;
}
nav img{
    width: 70px;
    height: 70px;
    padding: 10px;
}
.font-size{
    font-size: 30px;
}
.navbar-perso{
    background-color:transparent;
    width: 80%;
    margin: auto;
}
.navbar-links{
    margin-inline-start: auto;
}
.centrado{
    width: 70%;
    margin: auto;
}
main{
    color: white;
}
h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 400;
}
i{
    font-size: 30px;
}
.iconos{
    background-color: rgb(12, 180, 236);
    text-align: center;
}
.text-icon{
    margin-right: 30px;
    font-size: 17px;
}
.card-perso{
    background-color: rgb(12, 180, 236);
    color: white;
}
.contacto{
    margin-bottom: 40px;
}
.btn-perso{
    background-color: rgb(12, 180, 236);
    color: white;
}
.footer-perso{
    background-color: rgb(12, 180, 236);
    color: white;
    padding: 20px;
}
.footer-perso ul{
    list-style: none;
}
.div-icons{
    margin-inline-start: auto;
}
.footer-perso ul li{
    margin-right: 10px;
}